* {
    font-family: Iosevka Nerd Font, sans-serif;
    font-size: 16px;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
    margin-right: 8px;
    border-radius: 12px;
    transition: none;
    background-color: #22272e;
}

#workspaces button {
    transition: none;
    color: #adbac7;
    border-radius: 0;
}

#workspaces button:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#workspaces button:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #adbac7;
    background-color: white;
}

#workspaces button.active {
    transition: none;
    color: #282828;
    background-color: white;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #22272e;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#custom-clock,
#custom-notification,
#mpd {
    padding: 12px;
    margin: 4px;
    border-radius: 4px;
    color: #adbac7;
    background-color: #22272e;
}

#clock {
    background-color: #22272e;
}

#custom-clock {
    background-color: #22272e;
}

#battery {
    background-color: #22272e;
    color: #adbac7;
}

#battery.charging, #battery.plugged {
    color: #adbac7;
    background-color: #22272e;
}

@keyframes blink {
    to {
        background-color: #22272e;
        color: #adbac7;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #adbac7;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

